@model WebApplication3.Models.Product

<h2>Add Product</h2>

<form asp-action="Create" method="post">

    <div>
        <label asp-for="ProductId"></label>
        <input asp-for="ProductId" class="form-control"/>
        <span asp-validation-for="ProductId" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="ProductName"></label>
        <input asp-for="ProductName" class="form-control"/>
        <span asp-validation-for="ProductName" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control"/>
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Category"></label>
        <input asp-for="Category" class="form-control"/>
        <span asp-validation-for="Category" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Save</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}